#map {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1200px;
  height: 500px;
  margin: 20px;
}

#layer-controls {
  position: absolute;
  top: 60px;
  left: 1050px;
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#layer-controls label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#coordinates {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(174, 193, 204);
  padding: 5px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight:bold;
  z-index: 100;
}

#clicked-coordinates {
  position: absolute;
  bottom: 50px;
  left: 10px;
  background: rgb(224, 162, 162);
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
  font-weight:bold;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copy-icon {
  cursor: pointer;
  margin-left: 10px;
}

#remove-marker {
  position: absolute;
  bottom: 90px;
  left: 10px;
  padding: 5px 10px;
  background-color: #cfc8e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#remove-marker:hover {
  background-color: #b9b9b9;
}