#map {
  width: 1200px;
  height: 600px;
  margin: 20px 0;
}

#layer-controls {
  position: absolute;
  top: 380px;
  left: 30px;
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

#layer-controls label {
  display: block;
  margin-bottom: 5px;
}
